@font-face {
    font-family: font-c;
    src: url(./Azonix.otf);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container-car {
    position: absolute;
    background-color: #050505dc;
    box-shadow: 0 0 15px black;
    border-radius: 8px;
    width: 12vw;
    height: 7vw;
    left: 50%;
    bottom: 1vw;
    transform: translateX(-50%);
}

.velocity {
    position: absolute;
    text-align: center;
    align-items: center;
    left: 50%;
    top: 1.5vw;
    transform: translateX(-50%);
    color: white;
    text-shadow: 0 0 2px white;
    font-family: font-c;
    font-size: 3.5rem;
}

.fuelprog {
    position: absolute;
    height: 0.5vw;
    width: 6vw;
    left: 52%;
    top: 5vw;
    transform: translateX(-50%);
    border-radius: 2px;
    background: rgba(24, 24, 24, 0.89);
    box-shadow: 0 0 2px rgb(0, 0, 0);
}

.fuelprogin {
    position: absolute;
    height: 0.5vw;
    width: 50%;
    min-width: 0vw;
    max-width: 6vw;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.89);
    box-shadow: 0 0 3px rgb(255, 255, 255);
    transition: 1s;
}

#gear-icon {
    position: absolute;
    left: 20%;
    top: 4.8vw;
    transform: translateX(-50%);
    color: white;
    text-shadow: 0 0 2px white;
}

.revo-right {
    position: absolute;
    background-color: #d6d6d6dc;
    box-shadow: 0 0 15px black;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width:2vw;
    max-width:12vw;
    height: 0.5vw;
    left: 50%;
    bottom: 0vw;
    transform: translateX(-50%);
    float: right;
    transition: .3s;
}

.revo-left {
    position: absolute;
    background-color: #d6d6d6dc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width:2vw;
    max-width:12vw;
    height: 0.5vw;
    left: 50%;
    bottom: 0vw;
    transform: translateX(-50%);
    float: left;
    transition: .3s;
}

#motor-icon {
    position: absolute;
    left: 10%;
    top: 0.5vw;
    transform: translateX(-50%);
    color: #ffffffdc;
    text-shadow: 0 0 1px #ffffff;
}